@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nabla&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Finlandica', sans-serif;
}

body {
  margin: 0;
}

h1 h2,
h3 {
  font-family: 'F inlandica', sans-serif;
  font-weight: '500';
}
